*{
    margin: 0;
    padding: 0;
}
.botonstart{
    display: flex;
    align-items: center;
    justify-content: center;
}
#inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('bgini.jpg');
    width:100%;
}